/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    color: #fff;
    background-color: #000;
}

/* NAVBAR */
.navbar {
    width: 100%;
    padding: 22px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: #000;
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);

    transition: 
        background 0.4s ease,
        backdrop-filter 0.4s ease,
        opacity 0.4s ease;
}

.navbar.scrolled {
    background: rgba(10, 10, 10, 0.75);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    opacity: 0.92;
}


.logo {
    font-family: 'Playfair Display', serif;
    font-size: 28px;
    letter-spacing: 1px;
}

.logo span {
    color: #C6A46A;
}

.navbar nav a {
    margin: 0 20px;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: .5px;
    font-weight: 500;
}

.navbar nav a:hover{
    color: #C6A46A;
    transition: 0.3s ease;
}

.btn-download {
    background: #C6A46A;
    color: #000;
    padding: 10px 22px;
    border-radius: 6px;
    font-size: 14px;
    text-decoration: none;
    font-weight: 600;
}

/* HERO SECTION */
.hero {
    width: 100%;
    height: 90vh;
    background-image: url(image/flyer2.jpeg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 10vh;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.7));
}

.hero-content {
    position: relative;
    text-align: center;
    max-width: 800px;
}

.sub {
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 4px;
    margin-bottom: 10px;
    color: #C6A46A;
}

.hero-content h1 {
    font-family: 'Playfair Display', serif;
    font-size: 90px;
    font-weight: 400;
}

.hero-content h2 {
    font-family: 'Bodoni', serif;
    margin-top: -10px;
    font-size: 85px;
    font-weight: 400;
}

.desc {
    margin-top: 25px;
    font-size: 17px;
    line-height: 1.6;
    opacity: .9;
}

.hero-btn{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 50px;
}

.btn-produk,
.btn-konsultasi {
    min-width: 180px;
    text-align: center;
}

.btn-produk{
    background: #fff;
    color: #000;
    padding: 15px 36px;
    font-size: 14px;
    text-decoration: none;
    font-weight: 600;
    border: 1px solid black;
}

.btn-konsultasi{
    background: transparent;
    color: #fff;
    padding: 15px 36px;
    font-size: 14px;
    text-decoration: none;
    font-weight: 500;
    border: 1px solid #fff;
}

.btn-produk:hover {
    background: rgba(255, 255, 255, 0.3);
    color: #fff;
    border-color: #fff;
    transition: 0.5s ease;
}

.btn-konsultasi:hover {
    background: rgba(255, 255, 255, 0.3);
    color: #fff;
    border-color: #fff;
    transition: 0.5s ease;
}

/* NEW SECTION */
.trend-section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 60px;
}

/* WRAPPER */
.trend-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    width: 100%;
    gap: 60px;
}

/* LEFT CONTENT */
.trend-left h2 {
    font-family: 'Playfair Display', serif;
    color: #fff;
    font-size: 48px;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 20px;
}

.trend-left .desc {
    font-size: 17px;
    line-height: 1.6;
    color: #D3D3D3;
    max-width: 600px;
    margin-bottom: 30px;
}

/* LIST */
.trend-list {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

.trend-list li {
    color: #fff;
    font-size: 18px;
    margin-bottom: 14px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.trend-list li::before {
    content: "•";
    color: #fff;
    font-size: 22px;
    margin-right: 6px;
}

/* RIGHT IMAGE */
.trend-right {
    overflow: hidden;
    border-radius: 10px;
}
.trend-right img {
    width: 540px;
    height: 500px;
    object-fit:fill;
    border-radius: 10px;
    transition: transform 0.5s ease;
}
.trend-right img:hover{
    transform: scale(1.08);
}

/* Section Koleksi */
.collection-wrapper {
    min-height: 100vh; /* Gunakan min-height agar konten tidak terpotong jika layar kecil */
    padding-bottom: 50px;
    background-color: #111;
}

.collection-section {
    text-align: center;
    padding-top: 50px; /* Ganti margin-top dengan padding agar background aman */
}

/* TAB NAV */
.tab-nav {
    display: flex;             /* Ganti inline-flex jadi flex */
    width: fit-content;        /* Agar lebar mengikuti konten tombol */
    margin: 0 auto 35px auto;  /* auto kiri-kanan agar RATA TENGAH */
    background-color: #1a1a1a;
    padding: 5px;               
    border-radius: 50px;
    gap: 5px;                  /* Jarak kecil antar tombol */
}

.tab-btn {
    padding: 10px 24px;        
    background: transparent;    
    border: none;               
    color: #888888;             
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
    border-radius: 40px;        
    transition: all 0.3s ease;
}

.tab-btn:hover {
    color: #fff;                
    background: rgba(255, 255, 255, 0.05);
}

.tab-btn.active {
    background-color: #d2a451;  
    color: #111111;             
    font-weight: 600;           
    box-shadow: 0 4px 15px rgba(210, 164, 81, 0.3);
}

/* TAB CONTENT HIDING */
.tab-content {
    display: none;
    opacity: 0;
    transition: opacity 0.4s ease;
    animation: fadeUp 0.5s ease forwards; /* Tambah animasi muncul */
}

.tab-content.active {
        color: #111111;             /* Warna Teks Hitam (kontras) */
        font-weight: 600;           /* Teks sedikit lebih tebal */
        display: flex;
        opacity: 1;
}
@keyframes fadeUp {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
}

.section-subtitle {
    color: #d2a451;
    font-size: 14px;
    letter-spacing: 2px;
    margin-bottom: 8px;
}

.section-title {
    font-size: 42px;
    font-weight: 600;
    margin-bottom: 40px;
}

/* Grid */
.collection-grid {
    /* Base style untuk grid */
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}


/* Card */
.collection-card {
    background: #141414;
    width: 330px;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
    transition: 0.3s ease;
    border: 1px solid transparent;
    min-height: 450px; 
    display: flex;
    flex-direction: column;
}

.collection-card:hover {
    transform: translateY(-6px);
    border-color: #d2a451;
    box-shadow: 0 0 12px rgba(210, 164, 81, 0.35);
}

/* Image */
.card-image {
    position: relative;
}

.card-image img {
    width: 100%;
    height: 230px;
    object-fit: cover;
    transition: transform 0.75s ease;
}

.card-image img:hover{
    transform: scale(1.08);
}

.badge {
    position: absolute;
    top: 12px;
    left: 12px;
    background: #d2a451;
    color: #000;
    font-size: 11px;
    padding: 4px 8px;
    font-weight: 600;
    border-radius: 4px;
}

/* Content */
.card-content {
    padding: 18px;
    text-align: left;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.product-name {
    font-size: 20px;
    font-weight: 450;
    margin-bottom: 6px;
    color: #fff;
}

.product-desc {
    font-size: 13px;
    color: #cccccc;
    line-height: 1.4;
    display: -webkit-box;
    -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 10px;
}

/* Price */
.price-area {
    margin-top: auto;
    margin-bottom: 14px;
}

.price-title {
    color: #aaa;
    font-size: 13px;
}

.price-value {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
}

/* Arrow Button */
.arrow-btn {
    position: absolute;
    right: 16px;
    bottom: 16px;
    background: #fff;
    color: #000;
    border: none;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 18px;
    transition: 0.2s ease;
}

.arrow-btn:hover {
    transform: scale(1.1);
}

/* SECTION STYLE */
.style-finder {
    margin-top: 40px;
    color: #fff;
    padding-left: 50px;
    height: 105vh;
    padding-right: 50px;
}

/* TITLE */
.style-header {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.style-title {
    font-size: 40px;
    margin-bottom: 5px;
}

.style-subtitle {
    color: #ccc;
    font-size: 15px;
    max-width: 480px;
    line-height: 1.6;
}

/* TABS */
.style-tabs {
    display: flex;
    gap: 10px;
    background: #1a1a1a;
    padding: 6px;
    width: fit-content;
    border-radius: 50px;
}

.style-tab {
    padding: 8px 22px;
    border: none;
    background: transparent;
    color: #aaa;
    border-radius: 40px;
    cursor: pointer;
    font-size: 14px;
    transition: 0.3s ease;
}

.style-tab:hover {
    background: rgba(255,255,255,0.06);
    color: #fff;
}

.style-tab.active {
    background: #d2a451;
    color: #111;
    font-weight: 600;
    box-shadow: 0 4px 15px rgba(210,164,81,0.3);
}

/* IMAGE BOX */
.style-display {
    position: relative;
    background: #111;
    border-radius: 14px;
    overflow: hidden;
    margin-top: 60px;
}

.style-img {
    width: 100%;
    height: 410px;
    object-fit: cover;
    opacity: 0;
    position: absolute;
    inset: 0;
    pointer-events: none;
    transition: opacity 1.5s ease transform 0.6s ease;
}

.style-img.active {
    opacity: 1;
    position: relative;
    pointer-events: auto;
}


/* OVERLAY CONTENT */
.style-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 35px;
    background: linear-gradient(to top, rgba(0,0,0,.65), rgba(0,0,0,0));
    width: 100%;
}

.overlay-title {
    font-size: 26px;
    margin-bottom: 10px;
    font-weight: 600;
}

.overlay-desc {
    font-size: 14px;
    color: #e0e0e0;
    max-width: 420px;
    line-height: 1.5;
}

.overlay-tags {
    margin-top: 12px;
}

.tag {
    font-size: 11px;
    display: inline-block;
    padding: 5px 12px;
    background: rgba(255,255,255,.18);
    border-radius: 20px;
    margin-right: 8px;
}

/* CREDIT */
.image-credit {
    font-size: 11px;
    position: absolute;
    bottom: 12px;
    right: 12px;
    background: rgba(0,0,0,0.4);
    padding: 3px 6px;
    border-radius: 4px;
    color: #bbb;
}

/* Form Section */

.project-section {
    position: relative;
    height: 100vh;
    background: url("image/bg.jpeg") center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 20px;
    font-family: 'Playfair Display', serif;
  }
  
  .overlay {
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.65);
  }
  
  /* CARD */
  .project-card.wide {
    position: relative;
    z-index: 2;
    width: 100%;
    max-width: 760px;
    background: linear-gradient(180deg, #1a1a1a, #0f0f0f);
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 25px 80px rgba(0,0,0,0.6);
    color: #fff;
  }
  
  .project-card h2 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 6px;
  }
  
  .subtitle {
    text-align: center;
    font-size: 13px;
    color: #cfcfcf;
    margin-bottom: 32px;
  }
  
  /* FORM */
  .form-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 18px;
  }
  
  .form-group {
    margin-bottom: 18px;
  }
  
  .form-group label {
    display: block;
    font-size: 11px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #bfbfbf;
    margin-bottom: 6px;
  }
  
  .form-group input,
  .form-group select,
  .form-group textarea {
    width: 100%;
    background: #0c0c0c;
    border: 1px solid #2a2a2a;
    padding: 12px 14px;
    color: #fff;
    border-radius: 4px;
    font-size: 13px;
    outline: none;
  }
  
  .form-group textarea {
    resize: none;
  }
  
  .form-group input::placeholder,
  .form-group textarea::placeholder {
    color: #6f6f6f;
  }
  
  .form-group input:focus,
  .form-group select:focus,
  .form-group textarea:focus {
    border-color: #d4af37;
  }
  
  /* BUTTON */
  .btn-submit {
    width: 100%;
    margin-top: 10px;
    padding: 15px;
    background: #d4af37;
    border: none;
    border-radius: 4px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1.5px;
    cursor: pointer;
    transition: 0.3s ease;
  }
  
  .btn-submit:hover {
    background: #c19c2d;
  }
  
  /* RESPONSIVE */
  @media (max-width: 640px) {
    .form-row {
      grid-template-columns: 1fr;
    }
  
    .project-card.wide {
      padding: 28px 22px;
    }
  }
  
  

/* Features */

.features {
    background: #111;
    color: #fff;
    padding: 60px 20px;
    display: flex;
    justify-content: center;
    gap: 60px;
    flex-wrap: wrap;
    text-align: center;
}

.feature-item {
    width: 200px;
}

.icon-wrapper {
    width: 78px;
    height: 78px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border 0.3s ease, box-shadow 0.3s ease;
    border: 2px solid transparent;
    margin: 0 auto 20px;
}

.icon {
    width: 70px;
    height: 70px;
    background: #1b1b1b;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    color: #d2aa5a;
}

.feature-item:hover .icon-wrapper {
    border: 2px solid #d5b464; /* border emas */
    box-shadow: 0 0 15px rgba(213,180,100,0.6);
}

.feature-item h3 {
    margin: 0 0 8px;
    font-size: 18px;
    font-weight: 600;
}

.feature-item p {
    opacity: 0.75;
    font-size: 14px;
}


/* FOOTER */

/* Container Utama: Menggunakan Grid untuk 3 Kolom */
.main-footer {
    background: #000;
    padding: 50px 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
}

/* LEFT - Logo + Profil */
.footer-left {
    flex: 1.2;
    min-width: 260px;
    padding-left: 20px;
}

.footer-logo {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}

.footer-logo span {
    color: #d2aa5a;
}

.footer-about {
    margin-top: 16px;
    line-height: 1.7;
    font-size: 14px;
    color: #fff;
    max-width: 380px;
    text-align: justify;
}

/* CENTER - Social Links */
.footer-center {
    flex: 0.8;
    min-width: 200px;
    padding-right: 15px;
}

.footer-icons {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-top: 25px;
}

.footer-icons a {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background: rgba(255,255,255,0.05);
    transition: 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 18px;
}

.footer-icons a:hover {
    background: rgba(210,170,90,0.15);
    transform: translateY(-2px);
}

/* ICON E-COMMERCE */
.footer-title-ecommerce{
    margin-top: 30px;
}

.footer-icons.ecommerce {
    margin-top: 16px;
    filter: brightness(0) invert(1);
}

.icon-box {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255,255,255,0.05);
    transition: 0.3s ease;
}

.icon-box img {
    height: 20px;
}

.icon-box:hover {
    background: rgba(210,170,90,0.15);
}




/* RIGHT - Maps */
.footer-right {
    flex: 1;
    min-width: 260px;
    padding-right: 20px;
}

.map-box {
    width: 100%;
    height: 160px;
    margin-top: 20px;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 14px rgba(0,0,0,0.12);
}

.map-box iframe {
    width: 100%;
    height: 100%;
    border: 0;
    display: block;
}

/* COPYRIGHT */
.footer-right p {
    font-size: 13px;
    margin-top: 14px;
    color: #666;
}


/* ================================
   RESPONSIVE MOBILE
   Max Width 600px
================================ */
@media (max-width: 600px) {

    /* GLOBAL */
    body {
        overflow-x: hidden;
    }

    /* NAVBAR */
    .navbar {
        padding: 14px 18px;
        flex-direction: column;
        gap: 10px;
        position: relative;
        padding-bottom: 6px;
        padding-top: 30px;
    }
    .navbar nav a {
        margin: 0 15px;
        font-size: 13px;
    }
    .btn-download {
        margin-top: 15px;
        padding: 8px 16px;
        font-size: 13px;
    }

    /* HERO */
    .hero {
        height: 75vh;
        padding: 0 20px;
    }
    .hero-content h1 {
        font-size: 42px;
    }
    .hero-content h2 {
        font-size: 38px;
        margin-top: -4px;
    }
    .desc {
        font-size: 14px;
    }
    .hero-btn {
        flex-direction: column;
        gap: 14px;
        margin-top: 25px;
    }
    .btn-produk,
    .btn-konsultasi {
        width: 100%;
    }

    /* NEW SECTION */
    .trend-section {
        height: auto;
        padding: 40px 20px;
    }
    .trend-container {
        flex-direction: column;
        text-align: center;
        gap: 30px;
    }
    .trend-left h2 {
        font-size: 30px;
    }
    .trend-left .desc {
        max-width: 100%;
    }
    .trend-right img {
        width: 100%;
        height: 280px;
    }

    /* COLLECTION */
    .collection-wrapper {
        padding: 20px;
    }
    .section-title {
        font-size: 30px;
    }

    .tab-nav {
        flex-wrap: wrap;
        padding: 4px 6px;
        gap: 4px;
    }
    .tab-btn {
        padding: 8px 18px;
        font-size: 13px;
    }

    .collection-grid {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .collection-card {
        width: 100%;
        max-width: 330px;
    }

    /* STYLE FINDER */
    .style-finder {
        padding: 0 20px;
        height: auto;
        margin-top: 60px;
    }
    .style-header {
        flex-direction: column;
        align-items: flex-start;
    }
    .style-title {
        font-size: 30px;
    }
    .style-subtitle {
        font-size: 13px;
        max-width: 100%;
    }

    .style-tabs {
        flex-wrap: wrap;
        gap: 6px;
    }
    .style-tab {
        padding: 6px 18px;
        font-size: 13px;
    }

    .style-display {
        margin-top: 30px;
    }
    .style-img {
        height: 260px;
    }

    /* OVERLAY */
    .overlay-title {
        font-size: 20px;
    }
    .overlay-desc {
        font-size: 13px;
    }

    /* FEATURES */
    .features {
        padding: 40px 0;
        grid-template-columns: 2fr;
        gap: 30px;
    }
    .feature-item {
        width: 150px;
    }
    .icon-wrapper {
        width: 60px;
        height: 60px;
    }
    .icon {
        width: 50px;
        height: 50px;
        font-size: 20px;
    }
    .feature-item h3 {
        font-size: 16px;
    }

    /* FOOTER */
    .main-footer {
        padding: 35px 20px;
        flex-direction: column;
        gap: 35px;
    }

    /* Left */
    .footer-left {
        padding-left: 0;
    }
    .footer-logo {
        font-size: 26px;
        text-align: center;
    }
    .footer-about {
        text-align: center;
        max-width: 100%;
        font-size: 13px;
    }

    /* Social */
    .footer-center {
        text-align: center;
    }

    .footer-social {
        align-items: center;
    }

    .social-item {
        justify-content: center;
        gap: 12px;
        font-size: 14px;
    }

    .social-item i {
        font-size: 18px;
    }

    /* Maps */
    .footer-right {
        width: 100%;
    }
    .map-box {
        height: 200px;
    }
    .footer-right p {
        text-align: center;
    }
}
