/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    color: #fff;
    background-color: #000;
}

/* NAVBAR */
.navbar {
    width: 100%;
    padding: 22px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: #000;
}

.logo {
    font-family: 'Playfair Display', serif;
    font-size: 28px;
    letter-spacing: 1px;
}

.logo span {
    color: #C6A46A;
}

.navbar nav a {
    margin: 0 20px;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: .5px;
    font-weight: 500;
}

.navbar nav a:hover{
    color: #C6A46A;
    transition: 0.3s ease;
}

.btn-download {
    background: #C6A46A;
    color: #000;
    padding: 10px 22px;
    border-radius: 6px;
    font-size: 14px;
    text-decoration: none;
    font-weight: 600;
}

/* HERO SECTION */
.hero {
    width: 100%;
    height: 90vh;
    background-image: url(image/flyer2.jpeg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 10vh;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.7));
}

.hero-content {
    position: relative;
    text-align: center;
    max-width: 800px;
}

.sub {
    font-size: 14px;
    letter-spacing: 4px;
    margin-bottom: 10px;
    color: #C6A46A;
}

.hero-content h1 {
    font-family: 'Playfair Display', serif;
    font-size: 90px;
    font-weight: 400;
}

.hero-content h2 {
    font-family: 'Bodoni', serif;
    margin-top: -10px;
    font-size: 85px;
    font-weight: 400;
}

.desc {
    margin-top: 25px;
    font-size: 17px;
    line-height: 1.6;
    opacity: .9;
}

.hero-btn{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 50px;
}

.btn-produk,
.btn-konsultasi {
    min-width: 180px;
    text-align: center;
}

.btn-produk{
    background: #fff;
    color: #000;
    padding: 15px 36px;
    font-size: 14px;
    text-decoration: none;
    font-weight: 600;
    border: 1px solid black;
}

.btn-konsultasi{
    background: transparent;
    color: #fff;
    padding: 15px 36px;
    font-size: 14px;
    text-decoration: none;
    font-weight: 500;
    border: 1px solid #fff;
}

.btn-produk:hover {
    background: rgba(255, 255, 255, 0.3);
    color: #fff;
    border-color: #fff;
    transition: 0.5s ease;
}

.btn-konsultasi:hover {
    background: rgba(255, 255, 255, 0.3);
    color: #fff;
    border-color: #fff;
    transition: 0.5s ease;
}
